[submodule "fastlite"]
	path = fastlite
	url = git@github.com:AnswerDotAI/fastlite.git
	branch = main
[submodule "aimagic"]
	path = aimagic
	url = git@github.com:AnswerDotAI/aimagic.git
	branch = main
[submodule "fa6-icons"]
	path = fa6-icons
	url = git@github.com:AnswerDotAI/fa6-icons.git
	branch = main
[submodule "playwrightnb"]
	path = playwrightnb
	url = git@github.com:AnswerDotAI/playwrightnb.git
	branch = main
[submodule "plash"]
	path = plash
	url = git@github.com:AnswerDotAI/plash.git
	branch = main
[submodule "solve-lp"]
	path = solve-lp
	url = git@github.com:AnswerDotAI/solve-lp.git
	branch = main
[submodule "claudette"]
	path = claudette
	url = git@github.com:AnswerDotAI/claudette.git
	branch = main
[submodule "toolslm"]
	path = toolslm
	url = git@github.com:AnswerDotAI/toolslm.git
	branch = main
[submodule "msglm"]
	path = msglm
	url = git@github.com:AnswerDotAI/msglm.git
	branch = main
[submodule "fastsql"]
	path = fastsql
	url = git@github.com:AnswerDotAI/fastsql.git
	branch = main
[submodule "execnb"]
	path = execnb
	url = git@github.com:AnswerDotAI/execnb.git
	branch = main
[submodule "gaspard"]
	path = gaspard
	url = git@github.com:AnswerDotAI/gaspard.git
	branch = main
[submodule "fasthtml"]
	path = fasthtml
	url = git@github.com:AnswerDotAI/fasthtml.git
	branch = main
[submodule "nbdev"]
	path = nbdev
	url = git@github.com:AnswerDotAI/nbdev.git
	branch = main
[submodule "fastai"]
	path = fastai
	url = git@github.com:fastai/fastai.git
	branch = main
[submodule "answerdotai"]
	path = answerdotai
	url = git@github.com:AnswerDotAI/answerdotai.git
	branch = main
[submodule "ContextKit"]
	path = ContextKit
	url = git@github.com:AnswerDotAI/ContextKit.git
	branch = main
[submodule "cosette"]
	path = cosette
	url = git@github.com:AnswerDotAI/cosette.git
	branch = main
[submodule "fasthtml-example"]
	path = fasthtml-example
	url = git@github.com:AnswerDotAI/fasthtml-example.git
	branch = main
[submodule "pysymbol-llm"]
	path = pysymbol-llm
	url = git@github.com:AnswerDotAI/pysymbol-llm.git
	branch = main
[submodule "solveit"]
	path = solveit
	url = git@github.com:AnswerDotAI/solveit.git
	branch = main
[submodule "sqlite-minutils"]
	path = sqlite-minutils
	url = git@github.com:AnswerDotAI/sqlite-minutils.git
	branch = main
[submodule "fastcore"]
	path = fastcore
	url = git@github.com:AnswerDotAI/fastcore.git
	branch = main
[submodule "ghapi"]
	path = ghapi
	url = git@github.com:AnswerDotAI/ghapi.git
	branch = main
[submodule "fh-frankenui"]
	path = fh-frankenui
	url = git@github.com:AnswerDotAI/fh-frankenui.git
	branch = main
[submodule "fastcaddy"]
	path = fastcaddy
	url = git@github.com:AnswerDotAI/fastcaddy.git
	branch = main
[submodule "minai"]
	path = minai
	url = git@github.com:AnswerDotAI/minai.git
